__pycache__/
*.py[cod]
*$py.class


venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock


db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log


**/migrations/
!**/migrations/__init__.py


.vscode/
.idea/
*.iml
*.sublime-workspace


.DS_Store
Thumbs.db


htmlcov/
.coverage
.coverage.*


__pycache__/
*.swp
*.swo
